h1{
		text-align: center;
	}
	
	#bg{
		background-color: #D3BB9C;
	}
	#box{
		width: 500px;
		height: 250px;
		background-color: #F3E5F5;
		border: 2px solid black;
		float: left;
		margin-right: 10px;
		padding: 50px 20px 20px 20px;
		margin-top: 100px;
		margin-left: 40px;
		position: relative;

	}
	 #sm-box{
		position: absolute;
		text-align: right;
		top: 0px;
		right: 0px;
		font-size: 10px;
		width: 30%;
		height 20%;
		background-color: #CACFD2;
		border-bottom: 2px solid black;
		border-left:  2px solid black;
		
	}
	/*for desktop layout*/
@media(min-width: 992px)	
{
	#p1{
		width: 25%;
		height: 25%;
	}
	#p2{
		width: 25%;
		height: 25%;
	}
	#p3{
		width: 25%;
		height: 25%;
	}
}
/*for tab layout*/
@media screen and ((min-width: 768px) and (max-width: 992px)){
	#p1{
		width: 50%;
		
	}
	#p2{
		width: 50%;
		
	}
	#p3{
		width: 450px;
		
	}
}
/*for mobile layout*/
@media(max-width: 767px){
	#p1{
		width: 50%;
		
	}
	#p2{
		width: 50%;
		
	}
	#p3{
		width: 80%;
		
	}
}
